@model DataModel.PhongBan


<link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/font-awesome.css" rel="stylesheet"> <!-- Font-Awesome-Icons-CSS -->
@*<link href="//fonts.googleapis.com/css?family=Questrial" rel="stylesheet">*@ 

@{
    ViewBag.Title = "Quản lý xe khách";
}

<h2>PHÒNG BAN</h2>
    <div class="main">
        <h1>Hệ thống quản lý xe khách Tomorrow</h1>
    </div>


