@model DataModel.PhongBan

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThemPhongBan</title>
</head>
<body>
    <div> 
        jxcjzxcbbcx
    </div>
</body>
</html>
