@model DataModel.TrangThaiNV
<div class="container">
    <div>
        <h4>Chi Tiết Trạng Thái</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên Trạng Thái
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tenTT)
            </dd>

            <dt>
                Mô Tả
            </dt>

            <dd>
                @Html.DisplayFor(model => model.moTaTT)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.maTT }) |
        @Html.ActionLink("Back to List", "XemTrangThai")
    </p>
</div>